:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* padding: 16px; */
}

.title {
  padding: 4px;
  background-color: #cfdfc2;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
